__pycache__
/build
main.spec
start.spec
/dist
.sentryclirc
release-dev.sh
config.json
get_info.py
bilibili-hyg
key
main.c
main.cp311-win_amd64.pyd
gen_key.py
setup.py
sentry.c
sentry.cp311-win_amd64.pyd
sentry.py
data
srland/
srland.py
srlandpic.py
starter.py
gh_token
main.py
