__pycache__
data
permissions
login
logs/*
build/*
dist/*
*.c
models/*
bhyg_accounts/*
bhyg_config/*
bhyg_logs/*
.vscode/settings.json
analyse.csv
.mypy_cache/*
policy.py
user_devices.db
.DS_Store
*.bin
proxy/*
tools/*
api_private.py