__pycache__
/build
main.spec
start.spec
/dist
.sentryclirc
release-dev.sh
config.json
get_info.py
bilibili-hyg
key
bhyg.py
data
srland/
srland.py
srlandpic.py
starter.py
gh_token
venv
privkey.txt
pubkey.txt
main.py.bak
utils.py
utils.spec
upload-error
do-not-upload-error
login-info
inquirer