on:
  push:
    branches:
    - main
    - release/*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: PyInstaller Windows
        uses: JackMcKew/pyinstaller-action-windows@v0.1.2
      - uses: actions/upload-artifact@v2
        with:
          name: Windows-Build
          path: dist
